* {
    font-family:'Bebas Neue', cursive;
}

body {
    max-width: 100vw;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 50pt;
}

header p {
    margin: 0px;
}

.header-side {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: right;
    font-size: 10pt;
    margin: 0px;
}

.header-side p {
    font-size: 20pt;
    margin: 0px;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.player .left {
    display: flex;
    flex-direction: column;
}

.player .left h2, p {
    margin: 5px;
}

.player .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player .right p {
    padding: 10px;
    font-size: 25pt;
}

.player .right button {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.player .right button img {
height: 45px;
width: 45px;
}

.d-none {
    display: none;
}

.center {
    margin: 0 auto;
}

.introHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.introHeader h1{
    font-size: 50pt;
    margin: 100px auto 0 auto;
}

.introHeader h2{
    font-size: 30pt;
    margin: 0;
}

.introMain p{
    text-align: center;
}

.introMain a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.button {
    color: black;
    text-decoration: none;
    font-size: 20pt;
    padding: 3px;
    margin: 0 auto;
    background-color: white;
    border: solid 3px black;
    border-radius: 3px;
}